body {
    background-color: #52743F;
}

.nav {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 38%;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-align: center;

}

.nav li a {
    color: white;
    letter-spacing: 4px
   }


.areadomenu {
    height: 60px;
    position: absolute;
}
.container-texto-1{
	font-family: 'Stanley';
	color:white;
	font-size: 30px;
	text-align: right; 
	 width: 60%;
	 margin-right: 100px;
	 float: right;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 800px;
}
.container-texto-2{
	display: inline-block;
	padding-left: 400px;
	font-family: 'Poiret One', cursive;
	color:white;
	font-size: 25px;
	text-align: justify; 
	 width: 63%;
	 margin-right: 100px;
	 float: right;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 10px;
}
.imagem-1{
	display: inline-block;
	float: right;
	padding-top: 100px;
	padding-left: 250px;
	
	width: 30%;
}
.logo {
	margin-top: 10px;
	margin-left: 50px;
}
.container-texto-3{
	font-family: 'Stanley';
	color:white;
	font-size: 30px;
	text-align: justify; 
	 width: 60%;
	 margin-right: 120px;
	 float: left;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 100px;
}
.container-texto-4{
	display: inline-block;
	padding-left: 100px;
	font-family: 'Poiret One', cursive;
	color:white;
	font-size: 25px;
	text-align: justify; 
	 
	 margin-right: 100px;
	 float: right;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 10px;

}
.texto-5{
	font-family: 'Stanley';
	color:white;
	font-size: 30px;
	text-align: justify; 
	 width: 60%;
	 margin-right: 120px;
	 float: left;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 100px;

}
.texto-6{
	display: inline-block;
	padding-left: 100px;
	font-family: 'Poiret One', cursive;
	color:white;
	font-size: 25px;
	text-align: justify; 
	 
	 margin-right: 100px;
	 float: right;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 10px;

}
.texto-7{
	font-family: 'Stanley';
	color:white;
	font-size: 30px;
	text-align: justify; 
	 width: 60%;
	 margin-right: 120px;
	 float: left;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 100px;

}
.texto-8{
	display: inline-block;
	padding-left: 100px;
	font-family: 'Poiret One', cursive;
	color:white;
	font-size: 25px;
	text-align: justify; 
	 
	 margin-right: 100px;
	 float: right;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 10px;

}
.texto-9{
	display: inline-block;
	padding-left: 100px;
	font-family: 'Poiret One', cursive;
	color:white;
	font-size: 25px;
	text-align: justify; 
	 
	 margin-right: 800px;
	 float: right;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 10px;

}